Django==5.1.6
django-cors-headers
djangorestframework
langchain
langchain-google-genai
langchain-chroma
langchain-community
chromadb
pypdf
python-dotenv
langchain-community
requests
duckduckgo-search
